@layer theme, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

ion-content::part(scroll) {
  width: 100%;
  max-width: 700px;
  margin-inline: auto;
}
